.learn{
    width: 5vw;
    padding: 1vh;
    height: 5vh;
    margin-top: 5vh;
    margin-left: 25vw;
}

.learn a, .overlay a{
    color:darkcyan;
    font-family: "Playwrite HR Lijeva", cursive;
    font-size: 21px;
    text-decoration: none;
}

.learn a:hover{
    text-decoration: underline;
    font-style: italic;
}

.overlay a{
    width: 13vw;
    height: 7vh;
    padding: 10px;
    border:1px solid black;
    border-radius: 2px;
}

.overlay{
    margin-top: 10vh;
}




